.card{
    margin-bottom: clamp(1rem, 2rem, 3rem);
    padding: 1rem clamp(1rem, 3rem, 5rem);
    border: 1px solid black;
    box-shadow: 0px 5px 25px -20px rgb(205, 0, 205);
    width: 100%
}

@media (max-width: 760px){
    .card{
        flex-direction: column !important;
    }
}