body{
    margin: 0;
}

.flex-row{
    display: flex;
}
.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-evenly{
    justify-content: space-evenly;
}

.align-flex-start{
    justify-content: flex-start;
}

.align-flex-end{
    justify-content: flex-end;
}