a{
    text-decoration: none;
    color:inherit;
}

body{
    margin: 0;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-evenly{
    justify-content: space-evenly;
}

.justify-flex-start{
    justify-content: flex-start;
}

.justify-flex-end{
    justify-content: flex-end;
}

.align-flex-end{
    align-items: flex-end;
}

.gap-1{
    gap: 1rem;
}

.up-or-down{
    gap: 0.5rem;
}