.navbar{
    padding: 1rem clamp(0.1rem, 3vw, 5rem);
    background-color: #9a009a;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
}

.navbar a{
    font-size: clamp(0.75rem, 4vw, 1.25rem);

}

.navbar a:hover{
    opacity: 0.9;
}