.navbar{
    padding: 1rem clamp(0.2rem, 3rem, 5rem);
    background-color: #9a009a;
    color: white;
    position: sticky;
}

.navbar a{
    color:white;
}

.navbar a:hover{
    opacity: 0.9;
}

.navbar-links{
    list-style: none;
    align-items: center;
    padding: 0;
    gap: 1rem;
}

.search-input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.search-input{
    width: clamp(8rem, 10rem, 15rem);
    border-radius: 5px;
    border: 0;
    padding: 0.4rem 0.5rem;
    outline: none;
}

@media (min-width: 480px){
    .search-input-wrapper{
        flex-direction: row;
        gap: 1rem;
    }
}