.currency{
    padding: clamp(1rem, 5rem, 10rem);
    max-width: 100rem;
}
.currency-w100{
    width: 100%;
}

.currency-w80{
    width: 80%;
}

.percentage-change{
    gap: 0.75rem
}

h4{
    margin: 0;
}

.green{
    color: green
}

.red{
    color: red;
}